<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css">
    <title>Land Registration</title>
</head>
<body>
    

<header class="sticky">
    <a href="#" class="logo">Land Registration</a>
    <a href="/create" class="button">Create</a>
    <a href="/transfer" class="button">Transfer</a>
    <a href="/register" class="button">Register</a>
    <a href="/all_properties" class="button">All Properties</a>
  </header>
  {% for message in messages %}
  <div>
      <div class="row">
          
          <div class="col-sm-12 col-md-10 col-md-offset-1">
              <div class="card fluid {{ message.tags }}">
                <div class="section">
                  <p>{{message}}</p>
                </div>
              </div>
            </div>
              
          </div>
        </div>
  </div>
  {% endfor %}
{% block body %}

{% endblock body %}


</body>
</html>
