{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <br/>
    <h3>Create property</h3><hr/>
    <p>Start by creating your property virtually on the blockchain.</p>
    <form action="/create/" method="post">
      {% csrf_token %}
        <fieldset>
            <legend>Property details</legend>
        
        <div class="input-group vertical">
        
        {{form.name.label}}<br>
        {{form.name}}<br>
        {{form.other_attributes.label}}<br>
        {{form.other_attributes}}<br>
      </div>
    </fieldset>
  <fieldset>
      <legend>Property on the blockchain can only be created by the government</legend>
      <div class="input-group vertical">
        {{form.government_private_key.label}}
        {{form.government_private_key}}
      </div>
        
  </fieldset>
  
        <input type="submit" name="create" id="" value="Create asset">
    </form>
  </div>
</div>
{% endblock body %}