{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <br/>
    <h3>Create property</h3><hr/>
    <p>
        <h4>Property on the blockchain can only be created by the government. Only a few private keys are accepted.</h4><br>
        Name:<br>
          <input type="text" name="create" id="create"><br>
        Other attributes:<br>
        <textarea name="" id="" cols="19" rows="5"></textarea><br>
        Government private key:<br>
        <input type="password"><br>
        <input type="submit" name="create" id="" value="Create asset">
      </p>
  </div>
</div>
{% endblock body %}