{% extends "base.html" %}

{% block body %}
<table class="scrollable">
        <caption>All Properties</caption>
        <thead>
          <tr>
            <th>Property name</th>
            <th>Owner</th>
          </tr>
        </thead>
        <tbody>
            {% for land in lands %}
            <tr>
                    <td data-label="Property name"> <a href={% url 'land_detail' land.pk %}>{{land.name}}</a></td>
                    <td data-label="Asset id">{{land.get_owner}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock body %}