{% extends "base.html" %}
{% block body %}
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <br/>
      <h3>Register user</h3><hr/>
      <p>
          <h4>Generate a private and a public key locally for better security. Or use this <a>generator</a></h4><br>
          <form action="/register" method="post">
            {% csrf_token %}
              <fieldset>
                  <legend>Register yourself</legend>
              <div class="input-group vertical">
              {{form.name.label}}<br>
              {{form.name}}<br>
              {{form.public_key.label}}<br>
              {{form.public_key}}<br>
              </div>
              </fieldset>
              <input type="submit" name="transfer" id="" value="Register">
          </form>
        </p>
    </div>
  </div>
{% endblock body %}