{% extends "base.html" %}
{% block body %}
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <br/>
      <h3>Register user</h3><hr/>
      <p>
          <h4>Generate a private and a public key locally for better security. Or use this <a>generator</a></h4><br>
          Name:<br>
            <input type="text" name="asset_id" id="asset_id"><br>
          Public Key:<br>
            <input type="password" name="" id=""><br>
          <input type="submit" name="transfer" id="" value="Register">
        </p>
    </div>
  </div>
{% endblock body %}