{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <br/>
    <h3>Transfer property</h3><hr/>
    <p>
        <h4>Look <a href="http://">here</a> for details on properties</h4><br>
        Asset id:<br>
          <input type="text" name="asset_id" id="asset_id"><br>
        Owner's private key:<br>
          <input type="password" name="" id=""><br>
        Recepient's address (public key):<br>
          <input type="text"><br>
        <input type="submit" name="transfer" id="" value="Transfer asset">
      </p>
  </div>
</div>
{% endblock body %}