{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <br/>
    <h3>Transfer property</h3><hr/>
    <p>
        Click <a href="/all_properties">here</a> to learn more about all registered properties</h4>
        <form action="/transfer/" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Details of transfer</legend>
            <div class="input-group vertical">
            {{form.asset.label}}<br>
            {{form.asset}}<br>
            
            {{form.receipient_public_key.label}}
            {{form.receipient_public_key}}
            {{form.price.label}}
            {{form.price}}<br>
            </div>
            </fieldset>
            <fieldset>
                <legend>Confirm?</legend>
            <div class="input-group vertical">
                {{form.owner_private_key.label}}<br>
                {{form.owner_private_key}}<br>
            </div>
            </fieldset>
        <input type="submit" name="transfer" id="" value="Transfer asset">
        </form>
      </p>
  </div>
</div>
{% endblock body %}